In [19]:
import pandas as pd
cleaned_df = pd.read_excel(
    "1_datasets/cleaned_data/IRENA_OFGStats.cleaned.xlsx", sheet_name="Cleaned_data"
)
df = cleaned_df.copy()

FileNotFoundError: [Errno 2] No such file or directory: '1_datasets/cleaned_data/IRENA_OFGStats.cleaned.xlsx'

In [8]:
df.info()  # Data types, non-null counts, memory usage
df.dtypes  # Data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52343 entries, 0 to 52342
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            52343 non-null  object
 1   UN Sub-region     52343 non-null  object
 2   Country           52343 non-null  object
 3   IRENA Label       52343 non-null  object
 4   ISO Code          52343 non-null  object
 5   Flow              52343 non-null  object
 6   Group Technology  52343 non-null  object
 7   Sub-Technology    52343 non-null  object
 8   Technology        52343 non-null  object
 9   Product Code      51205 non-null  float64
 10  DataType          52343 non-null  object
 11  Value             52321 non-null  float64
 12  Unit              52343 non-null  object
 13  Year              52343 non-null  int64
 14  Ptype             52343 non-null  int64
 15  Publication       52343 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 6.4+ MB

Region               object
UN Sub-region        object
Country              object
IRENA Label          object
ISO Code             object
Flow                 object
Group Technology     object
Sub-Technology       object
Technology           object
Product Code        float64
DataType             object
Value               float64
Unit                 object
Year                  int64
Ptype                 int64
Publication          object
dtype: object

In [5]:
df.sample(5)

,Region,UN Sub-region,Country,IRENA Label,ISO Code,Flow,Group Technology,Sub-Technology,Technology,Product Code,DataType,Value,Unit,Year,Ptype,Publication
11551,Africa,Sub-Saharan Africa,Mali,Mali,MLI,Off-grid biogas production,Bioenergy,Biogas production,Production of biogas for commercial and public...,25390.0,BIOPROD,0.00000,"1,000 m3",2001,220,2024 OFG RE Statistics
11677,Africa,Sub-Saharan Africa,Botswana,Botswana,BWA,Off-grid biogas production,Bioenergy,Biogas production,Production of biogas for cooking,25390.0,BIOPROD,0.00000,"1,000 m3",2017,220,2024 OFG RE Statistics
41378,Asia,South-eastern Asia,Myanmar,Myanmar,MMR,Off-grid capacity,Solar energy,Solar lights,Solar lights (<11 W),24121.0,ELECCAP,0.25705,MW,2014,220,2024 OFG RE Statistics
17861,Oceania,Australia and New Zealand,Australia,Australia,AUS,Off-grid energy access,Solar energy,Solar mini-grids,Number of people connected to solar mini-grids...,24126.0,ELECACC,0.00000,Thousands,2003,220,2024 OFG RE Statistics
4594,Africa,Sub-Saharan Africa,Ethiopia,Ethiopia,ETH,Off-grid capacity,Solar energy,Solar pumps,Solar pumps (public water supply),24125.0,ELECCAP,0.00000,MW,2004,220,2024 OFG RE Statistics

In [16]:
print(df['Sub-Technology'].unique())
print(df['Year'].unique())

['Solar PV (Others)' 'Solar PV (Health)' 'Solar PV (Commercial/Public)'
 'Solar PV (Education)' 'Solar PV (Not specified)' 'Solar PV (Industry)'
 'Solar PV (Tourism)' 'Solar PV (Public lighting)'
 'Solar PV (Communication)' 'Solar PV (Residential)'
 'Solar PV (Agriculture)' 'Solar PV (Multi-purpose)' 'Solar mini-grids'
 'Solar lights' 'Solar pumps' 'Solar home systems' 'Onshore wind energy'
 'Hydropower' 'Biogas (electricity)' 'Other solid biofuels (electricity)'
 'Ethanol cookers' 'Solar cookers' 'Biogas (cooking)' 'Biogas production'
 'Solar lights and SHS']
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

Region                 0
UN Sub-region          0
Country                0
IRENA Label            0
ISO Code               0
Flow                   0
Group Technology       0
Sub-Technology         0
Technology             0
Product Code        1138
DataType               0
Value                 22
Unit                   0
Year                   0
Ptype                  0
Publication            0
dtype: int64