# Cleaned- On-Grid Renewable Energy Statistics

Find the **`raw_data`** file on [Raw On-Grid: IRENA_Stats_extract_2025_H1_raw.xlsx](https://github.com/MIT-Emerging-Talent/ET6-CDSP-group-08-repo/blob/main/1_datasets/raw_data/IRENA_Stats_extract_2025_H1_raw.xlsx)

This script prepares a cleaned version of the on-grid portion of the IRENA dataset, focusing on solar and renewable energy deployment in conflict-affected countries.


### **Selected Conflict-Affected Countries**:   
Nine countries were chosen based on having experienced pre-conflict, active conflict, and in some cases post-conflict phases within the past 25 years:  
 **Syria, Iraq, Sudan, South Sudan, Ethiopia, Ukraine, Yemen, Libya, Afghanistan**

Country Classification:
- **"Conflict Countries"**: Countries that experienced identifiable pre-conflict phases (all 9 selected countries: Syria, Iraq, Sudan, South Sudan, Ethiopia, Ukraine, Yemen, Libya, Afghanistan)
- **"Comparison Countries"**: Additional countries with mixed conflict/non-conflict status that did not experience pre-conflict phases, included for comparative analysis

Key Selection Criteria:  
- Time frame: Past 25 years
- Must include pre-conflict phase (primary distinguishing factor)
- Represent different stages of conflict progression (pre-conflict → active conflict → post-conflict where applicable)

 Based on this [**research document**](https://docs.google.com/document/d/1uxgQp8gesLcbfaCGLQAHn3Kgvyu2ZDGxgG-LSWEfq8s/edit?tab=t.0#heading=h.eeoohb5d7fi7) the phases of the 9 conflict countries were added.

Find the **`Cleaned_data`** file on [Cleaned On-Grid: IRENA_ONGRIDStats.cleaned.xlsx](https://github.com/MIT-Emerging-Talent/ET6-CDSP-group-08-repo/blob/main/1_datasets/cleaned_data/IRENA_ONGRIDStats.cleaned.xlsx)

In [2]:
import pandas as pd

### Working on "Country" sheet only (relevant to research question)

In [3]:
raw_df = pd.read_excel(
    "../1_datasets/raw_data/IRENA_Stats_extract_2025_H1_raw.xlsx", sheet_name="Country"
)
df = raw_df.copy()

# Dropping both sheets (Region and Global) as they are not needed

In [4]:
df.head()
print(df.head())

   Region       Sub-region  Country ISO3 code  M49 code         RE or Non-RE  \
0  Africa  Northern Africa  Algeria       DZA        12  Total Non-Renewable
1  Africa  Northern Africa  Algeria       DZA        12  Total Non-Renewable
2  Africa  Northern Africa  Algeria       DZA        12  Total Non-Renewable
3  Africa  Northern Africa  Algeria       DZA        12  Total Non-Renewable
4  Africa  Northern Africa  Algeria       DZA        12  Total Non-Renewable

  Group Technology   Technology Sub-Technology        Producer Type  Year  \
0     Fossil fuels  Natural gas    Natural gas  On-grid electricity  2000
1     Fossil fuels  Natural gas    Natural gas  On-grid electricity  2001
2     Fossil fuels  Natural gas    Natural gas  On-grid electricity  2002
3     Fossil fuels  Natural gas    Natural gas  On-grid electricity  2003
4     Fossil fuels  Natural gas    Natural gas  On-grid electricity  2004

   Electricity Installed Capacity (MW)
0                              5459.01
1                              5455.50
2                              5891.01
3                              6013.24
4                              6305.24

In [5]:
# Display the shape of the DataFrame (number of rows and columns)
df.shape

(38381, 12)

In [6]:
# Display information about the DataFrame, including column data types and non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38381 entries, 0 to 38380
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Region                               38381 non-null  object
 1   Sub-region                           38381 non-null  object
 2   Country                              38381 non-null  object
 3   ISO3 code                            38381 non-null  object
 4   M49 code                             38381 non-null  int64
 5   RE or Non-RE                         38381 non-null  object
 6   Group Technology                     38381 non-null  object
 7   Technology                           38381 non-null  object
 8   Sub-Technology                       38381 non-null  object
 9   Producer Type                        38381 non-null  object
 10  Year                                 38381 non-null  int64
 11  Electricity Installed Capacity (MW)  38381 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 3.5+ MB

### Add a "Classification" column for conflict countries to be filtered

In [7]:
conflict_countries = [
    "Syrian Arab Republic (the)",
    "Iraq",
    "Sudan (the)",
    "South Sudan",
    "Ethiopia",
    "Ukraine",
    "Yemen",
    "Libya",
    "Afghanistan",
]
# Filter out conflict countries that contain full cycle data of ocnflict in the past 25 years

In [8]:
df["Classification"] = df["Country"].apply(
    lambda x: "Conflict Countries" if x in conflict_countries else "Comparison Countries"
)


df[["Country", "Classification"]].head(10)

   Country        Classification
0  Algeria  Comparison Countries
1  Algeria  Comparison Countries
2  Algeria  Comparison Countries
3  Algeria  Comparison Countries
4  Algeria  Comparison Countries
5  Algeria  Comparison Countries
6  Algeria  Comparison Countries
7  Algeria  Comparison Countries
8  Algeria  Comparison Countries
9  Algeria  Comparison Countries

In [9]:
print(" Classification column added.")
print(df[["Country", "Classification"]].drop_duplicates().head(5))

 Classification column added.
         Country        Classification
0        Algeria  Comparison Countries
148        Egypt  Comparison Countries
380        Libya    Conflict Countries
454      Morocco  Comparison Countries
688  Sudan (the)    Conflict Countries

### Filtered out the years that arent needed 
_**Project Scope : 2000 - 2024**_

In [10]:
df = df[(df["Year"] >= 2000) & (df["Year"] <= 2024)]
print(df["Year"].unique())

[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

### Filled in missing (null) values if any

In [11]:
df["Electricity Installed Capacity (MW)"] = df[
    "Electricity Installed Capacity (MW)"
].fillna(0)
# Fill missing numbers (e.g., if electricity capacity is missing, we assume 0)

In [12]:
df["Producer Type"] = df["Producer Type"].fillna("Unknown")
df["Technology"] = df["Technology"].fillna("Unknown")
df["Sub-Technology"] = df["Sub-Technology"].fillna("Unknown")
# Fill missing text (e.g., unknown technology or producer type)

In [13]:
preview = df[
    (df["Electricity Installed Capacity (MW)"] == 0)
    | (df["Producer Type"] == "Unknown")
    | (df["Technology"] == "Unknown")
    | (df["Sub-Technology"] == "Unknown")
]

print(
    preview[
        [
            "Country",
            "Year",
            "Technology",
            "Sub-Technology",
            "Producer Type",
            "Electricity Installed Capacity (MW)",
        ]
    ].head(10)
)

Empty DataFrame
Columns: [Country, Year, Technology, Sub-Technology, Producer Type, Electricity Installed Capacity (MW)]
Index: []

### Dropped the "M49 Code" column
*This column isn't useful for our solar conflict-focused analysis*

In [14]:
df.drop(columns=["M49 code"], inplace=True)

In [15]:
df.columns
print(df.columns)

Index(['Region', 'Sub-region', 'Country', 'ISO3 code', 'RE or Non-RE',
       'Group Technology', 'Technology', 'Sub-Technology', 'Producer Type',
       'Year', 'Electricity Installed Capacity (MW)', 'Classification'],
      dtype='object')

###  Save the cleaned version 
On **`1_datasets`** folder on **`cleaned_data`** folder named **IRENA_ONGRIDStats.cleaned**

In [16]:
df.to_excel(
    "../1_datasets/cleaned_data/IRENA_ONGRIDStats.cleaned.xlsx",
    sheet_name="IRENA_ONGRIDStats.cleaned",
    index=False,
)