# Cleaned- On-Grid Renewable Energy Statistics

Find the **`raw_data`** folder on [Raw On-Grid: IRENA_Stats_extract_2025_H1_raw.xlsx](https://github.com/MIT-Emerging-Talent/ET6-CDSP-group-08-repo/blob/main/1_datasets/raw_data/IRENA_Stats_extract_2025_H1_raw.xlsx)

This script is a cleaned version of on-grid data set.
Focusing on Conflicted- Affected Countries (17): **Syria, Iraq, Sudan, South Sudan, Palestine, Mali, Ethiopia, Ukraine, Yemen, Libya, Afghanistan, Nigeria, Central African Republic, Somalia,Pakistan, Mozambique and Myanmar**

Find the **`Cleaned_data`** folder on [Cleaned On-Grid: IRENA_Stats_extract_2025_H1_raw.xlsx]

In [1]:
import pandas as pd

In [ ]:
file_path = r"C:\Users\Lenovo\Desktop\IRENA_Stats_extract_2025 H1 (1).xlsx"
df = pd.read_excel(file_path, sheet_name="Country") # Dropping both sheets (Region and Global) as they are not needed

In [4]:
df.head()

,Region,Sub-region,Country,ISO3 code,M49 code,RE or Non-RE,Group Technology,Technology,Sub-Technology,Producer Type,Year,Electricity Installed Capacity (MW)
0,Africa,Northern Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2000,5459.01
1,Africa,Northern Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2001,5455.50
2,Africa,Northern Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2002,5891.01
3,Africa,Northern Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2003,6013.24
4,Africa,Northern Africa,Algeria,DZA,12,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2004,6305.24

In [5]:
conflict_countries = [
    "Syria",
    "Iraq",
    "Sudan",
    "South Sudan",
    "Palestine",
    "Mali",
    "Ethiopia",
    "Ukraine",
    "Yemen",
    "Libya",
    "Afghanistan",
    "Nigeria",
    "Central African Republic",
    "Somalia",
    "Pakistan",
    "Mozambique",
    "Myanmar",
]
# Filter out conflict countries

In [ ]:
df["Conflict_Status"] = df["Country"].apply(
    lambda x: "Conflict" if x in conflict_countries else "Non-Conflict"
)


df[["Country", "Conflict_Status"]].head(10)

     Country Conflict_Status
0    Algeria    Non-Conflict
1    Algeria    Non-Conflict
2    Algeria    Non-Conflict
3    Algeria    Non-Conflict
4    Algeria    Non-Conflict
..       ...             ...
995   Angola    Non-Conflict
996   Angola    Non-Conflict
997   Angola    Non-Conflict
998   Angola    Non-Conflict
999   Angola    Non-Conflict

[1000 rows x 2 columns]

In [9]:
df["Electricity Installed Capacity (MW)"] = df[
    "Electricity Installed Capacity (MW)"
].fillna(0)

In [11]:
df["Producer Type"] = df["Producer Type"].fillna("Unknown")
df["Technology"] = df["Technology"].fillna("Unknown")
df["Sub-Technology"] = df["Sub-Technology"].fillna("Unknown")

In [15]:

df.drop(columns=["M49 code"], inplace=True)

In [16]:
df.columns

Index(['Region', 'Sub-region', 'Country', 'ISO3 code', 'RE or Non-RE',
       'Group Technology', 'Technology', 'Sub-Technology', 'Producer Type',
       'Year', 'Electricity Installed Capacity (MW)', 'Conflict_Status'],
      dtype='object')

In [18]:


df.to_excel(
    "../1_datasets/cleaned_data/IRENA_ONGRIDStats.cleaned.xlsx",  # ✅ You can rename this as you like
    sheet_name="RENA_ONGRIDStats.cleaned",  # You can change this sheet name too
    index=False,
)

OSError: Cannot save file into a non-existent directory: '..\1_datasets\cleaned_data'